body {
  margin: 0;
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 50px;
}

button {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
